// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// @font-face {
//   font-family: "Eudoxus Sans";
//   font-style: normal;
//   font-weight: 700;
//   src:
//     // IE6-IE8
//     url("assets/fonts/Eudoxus/EudoxusSans-Bold.woff2") format("woff2"),
//     // Super Modern Browsers
//     url("assets/fonts/Eudoxus/EudoxusSans-Bold.woff") format("woff"),
//     // Pretty Modern Browsers
//     url("assets/fonts/Eudoxus/EudoxusSans-Bold.ttf") format("truetype");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Eudoxus Sans";
//   font-style: normal;
//   font-weight: 800;
//   src:
//     // IE6-IE8
//     url("assets/fonts/Eudoxus/EudoxusSans-ExtraBold.woff2") format("woff2"),
//     // Super Modern Browsers
//     url("assets/fonts/Eudoxus/EudoxusSans-ExtraBold.woff") format("woff"),
//     // Pretty Modern Browsers
//     url("assets/fonts/Eudoxus/EudoxusSans-ExtraBold.ttf") format("truetype");
//   font-display: swap;
// }

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

.container {
  padding: 0 16rem;
}

button {
  background: #006ff9;
  color: #ffffff;
  font-family: "Eudoxus Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 0.2rem;
}
